dash
dash-bootstrap-components
dash-renderer
dash_daq
scikit-learn
scipy
dask
pandas
plotly
numpy
requests
cufflinks
xlrd
XlsxWriter
xlwt
xmltodict
gunicorn
flask
json5
matplotlib
flask_login
statsmodels
openpyxl
roc_utils
flask_recaptcha
future
